body {
    background: #0dcaf0;
}

h1 {
    color: #000000;
}

img {
    height: 500px;
    background: #0dcaf0;
}

.navbar {
    background: skyblue;
}

.betplay {
    height: 80px;
}

.contenedor-tabla {
    width: 90%;
    background: rgb(197, 206, 119);
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 40px;
    justify-items: center;
    align-items: start;
}

.tabla-titulo {
    grid-column-start: 1;
    grid-column-end: 11;
    text-align: center;
}